.container-fluid{
    /* background-color: lightblue; */
    height: 100px;
    
}
.container{
    background-color: lightcoral;

}
.container-sm{
    background-color: lightgreen;

}	
.container-md{
    background-color: lightskyblue;

}	
.container-lg{
    background-color: limegreen;
}
.container-xl{
    background-color: lightslategrey;
}


#column-1{

    /* background-color: lightgrey */
}      

#column-2{
    /* background-color: lightgreen */

}

#column-3{
    /* background-color: lightsalmon */

}
.section-header{
    margin-bottom: 20px;
}

